<link rel="icon" sizes="48x48" href="/img/apple-touch-icon.png" type="image/png">
<link rel="icon" sizes="32x32" href="/img/favicon-32x32.png" type="image/png">
<link rel="icon" sizes="16x16" href="/img/favicon-16x16.png" type="image/png">
<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://saleshigher.io/">
<meta property="og:type" content="website">
<meta property="og:title" content="SalesHigher - Hire proven sales experts from a pre-vetted talent platform.">
<meta property="og:description" content="Hire proven sales experts with confidence using the world’s leading pre-vetted talent platform.">
<meta property="og:image" content="https://saleshigher.io/img/OpenGraph.jpg">
<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="saleshigher.io">
<meta property="twitter:url" content="https://saleshigher.io/">
<meta name="twitter:title" content="SalesHigher - Hire proven sales experts from a pre-vetted talent platform.">
<meta name="twitter:description" content="Hire proven sales experts with confidence using the world’s leading pre-vetted talent platform.">
<meta property="twitter:image" content="https://saleshigher.io/img/OpenGraph.jpg">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G84J69DE9R"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-G84J69DE9R');
</script>