@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

#header.hero-image {
    background-size: 120vw;
    background-position-y: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
    background-image: url(../img/main.svg);
}

@media screen and (min-width: 768px) {
    #header.hero-image {
        background-size: 75vw;
        background-position-y: bottom;
        background-position-x: right;
        background-repeat: no-repeat;
        background-image: url(../img/main.svg);
    }
}
