{% extends "base.njk" %}
{% block content %}


<h1 class="mb-8 font-extrabold text-7xl">
    Contact us
</h1>

<p class="my-6 text-lg font-light leading-relaxed">
    Are you struggling to find expert salespros for your team? Our service can help!
    We specialize in finding and recruiting top sales talent, so you can focus
    on growing your business. With our help, you'll be able to build a 
    high-performing sales team that drives results and boosts revenue.
    Don't wait any longer – contact us today to learn more and get started!
</p>
<p class="my-6 text-lg font-light leading-relaxed">
    <span class="font-bold">Email</span> <a href="mailto:hello@saleshigher.io" class="transition-colors duration-300 border-b-4 border-blue-300 hover:border-blue-500">hello@saleshigher.io</a>
</p>

{% endblock %}