{% extends "base.njk" %}
{% block content %}


<h1 class="mb-8 font-extrabold text-7xl">
    FAQ
</h1>

<h3 class="mb-6 text-4xl font-bold">
    How do we vet?
</h3>
<p class="text-lg font-light leading-relaxed">
    Our freelancer screening process ensures we attract and retain the best talent on our platform. As sales experts ourselves, we look for proven experts with experience and passion. We only accept the top 5% of Sales Pros that apply to join us.
    We get hundreds of applicants on a daily basis and accept less than 5%. Here is how we do it:
    Every freelancer application is reviewed for length and quality of past experience, this also involves LinkedIn and References. We then set up an introductory screening interview to determine subject matter expertise, communication skills, and professionalism.
    After the preliminary screening, each candidate does a video interview with a subject matter expert to vet their specific skills and core competencies.  We don’t place sales experts for projects on channels that they are not an expert in. For example, an SME-experienced tech expert will not be put on projects that require Enterprise experience with over $500,000 in sales quota in the Medical Industry.
    Finally, the sales experts that reach this stage will undergo a set exam based on their expertise. Only candidates that pass all parts of the interview will be accepted into the network. Again: this is less than 5%.
    We keep Diversity, Equality & Inclusion at the heart of this process. 
</p>

<h3 class="my-6 text-4xl font-bold">
    The way it works
</h3>
<div class="grid grid-cols-1 gap-8 my-6 md:grid-cols-4">
    <div class="col-span-1 px-6 py-4 bg-gray-100">
        <h5 class="my-4 text-lg font-bold">Step 1 - We recruit top sales performers</h5>
        <p>
            We monitor LinkedIn and various job groups, and ask for referrals from current freelancers to find the very best freelance sales pros out there. Top freelancers who know about SalesHigher can also apply on our platform!
        </p>
    </div>
    <div class="col-span-1 px-6 py-4 bg-gray-100">
        <h5 class="my-4 text-lg font-bold">Step 2 - In-depth skill review</h5>
        <p>
            We review each admission carefully and assess their expertise/ experience and knowledge level. Our freelancers also undergo a skill assessment.
        </p>
    </div>
    <div class="col-span-1 px-6 py-4 bg-gray-100">
        <h5 class="my-4 text-lg font-bold">Step 3 - Video interview</h5>
        <p>
            Our final layer of screening is a video interview that assesses communication skills, critical thinking, and professionalism. If all the above criteria are met, the freelancer joins our community.
        </p>
    </div>
    <div class="col-span-1 px-6 py-4 bg-gray-100">
        <h5 class="my-4 text-lg font-bold">Step 4 - Testing period</h5>
        <p>
            For specific roles - we will assign a testing period as a final step in the application process. This is mainly done to test competency and willingness to undertake and complete the project to the highest level.
        </p>
    </div>
</div>

<h3 class="mt-6 mb-2 text-2xl font-bold">
    Are there any recruiting costs?
</h3>
<p class="text-lg font-light leading-relaxed">
    Nope! SalesHigher doesn’t charge any upfront recruiting on contract fees. We’ll set up an intro call and match your requirements with a sales expert. We require a commitment which is a monthly fee per project / per hire, only when you are matched with a sales expert.
</p>

<h3 class="mt-6 mb-2 text-2xl font-bold">
    What happens if I'm not satisfied with my sales pro?
</h3>
<p class="text-lg font-light leading-relaxed">
    If you are not satisfied with your sales freelancer, we can re-match you with someone new. We understand sometimes it may not be a good match/good fit for both sides. We’ll work with you to find the perfect match for your project.
</p>

<h3 class="mt-6 mb-2 text-2xl font-bold">
    Where are your sales pros located?
</h3>
<p class="text-lg font-light leading-relaxed">
    Located globally.
</p>

<h3 class="mt-6 mb-2 text-2xl font-bold">
    How much do freelancers charge?
</h3>
<p class="text-lg font-light leading-relaxed">
    Our sales experts set their own rates based on a number of factors. 
    While all our sales experts are highly-vetted through the system, typically more specialized needs mean higher rates.
    While rates may vary, general pricing falls into the following ranges:
    Hourly:  $30-$150+/hour.
    <br>
    <span class="font-bold">Note</span> There are no cancellation fees.
</p>

<h3 class="mt-6 mb-2 text-2xl font-bold">
    How do payments with freelancers work?
</h3>
<p class="text-lg font-light leading-relaxed">
    Freelancers invoice clients directly on a weekly basis and clients can review charges before they get processed. Clients pay freelancers directly as specified by the Terms Of Service.
</p>



{% endblock %}