{% extends "base.njk" %}
{% block content %}

<h1 class="mb-8 font-extrabold text-7xl">
    Privacy policy
</h1>

<p class="font-light">
    Your privacy is important to us. The Policy hereunder sets forth the SalesHigher policy with respect to information, including personally identifiable information (“Personal Data”), that is collected from users of and/or visitors to the Service and their agents (“you” or “your”).

This Privacy Policy is incorporated into the SalesHigher Terms of Service, and applies to the information obtained by us through your use of this website, the Service and other SalesHigher products and services. Capitalized terms used in this Privacy Policy and not otherwise defined shall have the meanings provided for those terms in the Terms of Service. By using the SalesHigher Service or allowing someone to use the Service on your behalf, you fully consent to our Privacy Policy.

COLLECTION AND USE OF PERSONAL DATA
 SalesHigher uses the Personal Data we collect in a manner that is consistent with this Privacy Policy as follows:

Access and Use
Your username, email address, and contact preferences. This enables us to create your account, provide you with convenient and personalized access to your account, and deliver and support the Service. This information also helps us communicate with you about your use of the Service, product announcements, software updates and orders you have placed with  SalesHigher as well as respond to your requests for assistance (including providing account verification support if you’re having difficultly accessing your account).

Billing information
Information required to complete a commercial transaction on our site. We use this information to enable and fulfill your transaction.

Specific Reason
If you provide Personal Data for a specific reason, we may use the Personal Data in connection with the reason for which it was provided such as responding to the email address from which you contact  SalesHigher.

Internal Business Purposes
As a general rule,  SalesHigher employees do not monitor or view your personal information or Content stored in your Account, however  SalesHigher may use or view your Personal Data and Content for internal business purposes including without limitation to help us improve the content and functionality of the Service, better understand our users, protect against, identify or address wrongdoing, enforce our Terms of Service, such as if we believe our Terms of Service have been violated and confirmation is required, if we need to do so for administrative purposes or in order to respond to your requests for user support, or we otherwise determine that we have an obligation to review it as described in our Terms of Service. Your Content also may be viewed where necessary to protect the rights, property or personal safety of  SalesHigher and its users, or in order to comply with our legal obligations, such as responding to warrants, court orders or other legal process.

Location of Data
SalesHigher stores your data on servers currently located in the United States, however, it has the ability to serve the data from a location closest to the user to enhance local performance, which may be outside the United States. If you are using  SalesHigher  from outside the United States, please be aware that your information may be transferred to, stored, and processed in the United States where our servers are located and our central database is operated. The data protection and other laws of the United States and other countries might not be as comprehensive as those in your country. Please be assured that we seek to take reasonable steps to ensure that your privacy is protected.

Marketing
 SalesHigher may use your Personal Data to contact or communicate with you in the future for marketing and advertising purposes. You may opt out at anytime by following the instructions provided at the end of such communication.

Organizer Emails
 SalesHigher allows the event organizers to use our email system and instant messaging to contact the organizer’s clients, invitees, and attendees for their current and past events, so additional users may receive emails from the  SalesHigher system that originate with such event organizers.

Cookies
 SalesHigher uses small files on your machine called cookies solely to provide features on the site, keep you logged in as an account holder and to understand how the site is used.

If we intend to use any Personal Data in any manner that is not consistent with this Privacy Policy, you will be informed of such anticipated use prior to or at the time at which the Personal Data is collected or we will obtain your consent subsequent to such collection but prior to such use.

SalesHigher may retain your Personal Data as long as you continue to use the Service. You may close your account by contacting SalesHigher. However,  SalesHigher may retain Personal Data and Non-Personal Data for an additional period as is permitted or required under applicable laws. Even if we delete your Personal Data it may persist on backup or archival media and other information systems.

CYBER-SMEARING
 SalesHigher maintains a strict no cyber-smearing policy. This means you may not discriminate against, harass, bully, insult, defame, slander or make libelous statements in any form or under any guise against or concerning anyone whether or not they are a user of the  SalesHigher service.  SalesHigher bears no liability in part or in while for any action or other consequence that may arise from or be occasioned by cyber-smearing and reserves the right to terminate any account that engages in cyber-smearing.

CHILDREN
 SalesHigher is a business tool neither intended for nor directly or indirectly marketed to children. We do not knowingly collect Personal Data from children under the age of 13. If you are a child under 13, please do not submit any Personal Data through the Services. We encourage parents and legal guardians to monitor their children's Internet usage and to help enforce our Privacy Policy by instructing their children never to provide Personal Data through the Service without their permission.

SalesHigher bears no obligations under the U.S. Children's Online Privacy Protection Act (“COPPA”) and/or The Family Educational Rights and Privacy Act (“FERPA”) or similar statute in any jurisdiction. Any person who collects data from children or provides data relating to children bears sole responsibility to comply with the U.S. COPPA and/or FERPA.

THIRD-PARTY WEBSITES
This Privacy Policy applies only to the SalesHigher Service. The Service may contain links to other websites not operated or controlled by  SalesHigher  (the "Third Party Sites"). The policies and procedures we described here do not apply to any Third Party Sites. The links from the  SalesHigher Service do not imply that  SalesHigher endorses or has reviewed the Third Party Sites. We suggest contacting those sites directly for information on their privacy policies.

SECURITY
 SalesHigher  is committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online. We use industry standard practices such as Secure Socket Layer technology (SSL), to encrypt the information passed between your browser and our system to create a protected connection between you and the  SalesHigher Service to ensure confidentiality. Nevertheless,  SalesHigher  bears no liability for any loss arising as a result of failure of security. You retain full responsibility to maintain the security of your account and information connected thereto.

NOTICES AND REVISIONS
 SalesHigher  reserves the right, in our sole discretion, to update or modify this Privacy Policy at any time (collectively, "Modifications"). Modifications to this Privacy Policy will be posted to the SalesHigher website with a change to the "Last Updated" date of this Privacy Policy. In certain circumstances SalesHigher may, but is not obligated to, provide you with additional notice of such Modifications, such as via email or with in-Service notifications. Please review this policy periodically, and especially before you provide any Personal Data. Your continued use of the Service following the effectiveness of any Modifications to this Privacy Policy constitutes acceptance of those Modifications. If any Modification to this Privacy Policy is not acceptable to you, your sole remedy is to cease accessing, browsing and otherwise using the SalesHigher Service.

If you have complaints, questions or concerns about the foregoing or other privacy issue, please contact SalesHigher at hello@SalesHigher.com

Last updated: September 8, 2022
</p>


{% endblock %}